<nav aria-label="breadcrumb"　>
  <ol class="breadcrumb"　>
    <li><a href="/">トップページ</a></li>
    <li><%= @time.month%>月の出席確認</li>
  </ol>
</nav>

<form action="/table" method="post">
  <input type="hidden" name="year_at" value="<%= @time.year%>" />
  <input type="hidden" name="month_at" value="<%= @time.month%>" />
  <input type="hidden" name="day_at" value="<%= @time.day %>" />
  <input class="btn btn-primary" type="submit" value="更新" />
</form>

<table class="table tablesorter" id="table">
  <thead>
    <tr>
      <th scope="col" class="sort">
        所属
        <i class="fas fa-sort"></i>
      </th>
      <th scope="col" class="sort">
        名前
        <i class="fas fa-sort"></i>
      </th>
      <% @days.each do |day|%>
      <th scope="col" class="sort">
        <%= day.day_at%>日
        <i class="fas fa-sort"></i>
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @belongs.each do |belong| %>
      <% @user.each do |user| %>
        <% if user.belong.id == belong.id then %>
        <tr>
          <th>
            <%= user.belong.name%>
          </th>
          <th>
            <%= user.name%>
          </th>
          <% @days.each do |day|%>
            <td>
              <% attendance = Attendance.find_by(user_id:user.id, day_at: day.day_at) %>
              <% if attendance.month_at == @today.month_at && attendance.year_at == @today.year_at%>
                <% if !attendance.is_attendance then%>
                  欠席
                <% else %>
                  出席
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
$(document).ready(function() 
    { 
        $("#table").tablesorter(); 
    } 
);
</script>
