<h1><%= @day.year%>年<%= @day.month%>月<%= @day.day%>日の出席表</h1>

<p>
  <a href="/">
  トップページへ
  </a>
</p>

<p><%= @last_login_day %></p>

<table>
  <% @user.each do |user| %>
    <tr>
      <th>
        <%= user.name%>
      </th>
      <td>
        <% if !user.is_attendance%>
          <p>欠席</p>
        <% end %>
        <% if user.is_attendance%>
          <p>出席</p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
