<nav aria-label="breadcrumb"　>
  <ol class="breadcrumb"　>
    <li class="breadcrumb-item"><a href="/">トップページ</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @time.year%>年<%= @time.month%>月<%= @time.day%>日の出席確認</li>
  </ol>
</nav>

<form action="/table" method="post">
  <input type="hidden" name="month_at" value="<%= @time.month%>" />
  <input type="hidden" name="day_at" value="<%= @time.day %>" />
  <input class="btn btn-primary" type="submit" value="更新" />
</form>

<p>デバック用メモ</p>
<P>time:<%= @time.month%>月<%= @time.day%>日</p>
<p>today:<%= @today.month_at%>月<%= @today.day_at%>日</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">所属</th>
      <th scope="col">名前</th>
      <th scope="col">出欠</th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <th>
          <%= user.belong.name%>
        </th>
        <th>
          <%= user.name%>
        </th>
        <td>
          <% if !user.is_attendance%>
            欠席
          <% end %>
          <% if user.is_attendance%>
            出席
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
