<nav aria-label="breadcrumb"　>
  <ol class="breadcrumb"　>
    <li class="breadcrumb-item"><a href="/">トップページ</a></li>
    <li class="breadcrumb-item"><a href="/users">ユーザー一覧</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @user.name%></a></li>
  </ol>
</nav>

<div class="main">
  <div class="card lefts" style="width: 29rem;">
    <div class="card-body">
      <h2 class="card-title">出席申請</h2>
      <form action="/<%= @user.id %>" method="POST" />
        <input type="submit" value="主席申請" class="btn btn-primary" />
      </form>

      <p class="card-text"><%= @day.year%>年<%= @day.month%>月<%= @day.day%>日：
        <% if !@user.is_attendance%>
          欠席</p>
        <% end %>
        <% if @user.is_attendance%>
          出席</p>
        <% end %>

      <p class="card-text">合計出席回数：<%= @user.attendance_num%></p>
    </div>
  </div>

  <div class="card rights" style="width: 29rem;">
    <div class="card-body">
      <h2 class="card-title">欠席連絡</h2>
        <p class="card-text">
          <a href="/<%= @user.id %>/absent" class="card-link text-primary">
            新規作成
          </a>
        </p>
        <p class="card-text">
          <a href="/<%= @user.id %>/list" class="card-link text-primary">
            一覧
          </a>
        </p>
    </div>
  </div>  

  <div class="card rights" style="width: 29rem;">
    <div class="card-body">
      <h2 class="card-title">編集</h2>
      <p class="card-text">
        <a href="/<%= @user.id %>/edit" class="card-link text-primary">
          編集ページへ
        </a>
      </p>
    </div>
  </div>

  <%# <div class="email"> %>
    <%# <p>メールアドレス：<%= @user.email</p> %>
  <%# </div> %>
</div>