<h1><%= @user.name%>の情報</h1>
<a href="/">トップページ</a> ＜ <a href="/users">ユーザー一覧</a>
<p>ユーザーネーム</p>
<p>
  <%= @user.name%>
</p>

<p>メール</p>
<p>
  <%= @user.email%>
</p>

<form action="/<%= @user.id %>" method="POST">
  <input type="submit" value="主席申請">
</form>

<h2>出席登録</h2>
<p>本日の欠席の有無</p>
<p>
  <% if !@user.is_attendance%>
    <p>欠席</p>
  <% end %>
  <% if @user.is_attendance%>
    <p>出席</p>
  <% end %>
</p>

<h2>参加</h2>
<a href="/<%= @user.id %>/join">
  <p>出席表一覧へ</p>
</a>